.all
{
    border:1px solid;
    border-radius: 12px;
    padding:50px;
    height: auto;
    width:fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(201, 36, 3, 0.002);
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.2);
    border-left: 5px solid #e60000;

}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
   
.login
{
    font-size:xx-large;
    font-weight:bolder;
    padding-left:px;
    color: #e60000;
}
.but
{
     width: 100%;
     background: #e60000;
     color: #fff;
     padding: 12px;
     font-size: 16px;
     border: none;
     border-radius: 6px;
     cursor: pointer;
     transition: 0.3s;
     margin-top: 10px;
}

#pass
{
  width: 250px; 
  height: 23px;
}
.uid
{
  width: 250px;
  height: 23px;
}
#login
{
  color:rgba(15, 8, 8, 0.827);
}
#p
{
color:blue;
left:200px;
}
.fimg
{
width: 12px;
}
.gimg
{
width:13px;
}
.bg
{
 width:259px;
}
.bf
{
 width: 259px;
}
